
<div id="about">
  <h2>About Me</h2>
  <hr>
  <p>Bebes is my secret alias.</p>
  <p>I like Talenti Gelato.</p>

  <%= image_tag 'uva-logo.png' %>

  <%= image_tag 'hp-logo.png', :id => 'hp' %>
</div>