<h1>A little about me:</h1>
<div id="about">
  <p>as;dlfkjalw;kefma;wlekfma;wlekfjw;lekfja;lwekjalw;keja;lkwejfwlkefjew;lkf;wekl;ajsd;lfkjasdlkfjas;dfkm;lakwefa;welifajweilfjawel;ifjwaei;f;ejwliajwfela;wifjawelifjelwifjawle;jf</p>

  <%= image_tag 'uva-logo.png', :id => 'uva' %>

  <%= image_tag 'hp-logo.png', :id => 'hp' %>
</div>