<div id="howitworks">
    <h2>How it Works:</h2>
    <hr>
    <ul>
      <li>Book a session online.</li>
      <li>If it's last minute, just call or text me @ 214.686.7245.</li>
      <li>I come to your home.</li>
      <li>We study hard.</li>
      <br>
      <li>Sessions are 55 minutes long.</li>
      <li>There is a $20 fee for cancellations within 12 hours of booked session.</li>
      <li>Schedule subject to change.</li>
    </ul>
  </div>