<div class="register-wrap">
<% if !signed_in? %>
<div class="register-buttons">
      <%= link_to "Log In", signin_path, id: 'login' %>
      <%= link_to "Sign Up", signup_path, id: 'signup' %>
</div>
<% end %>
</div>




