<div class="subjects">
  <h2>What I can help you with:</h2>
  <hr>
  <h3>High School Classes:</h3>
  <h3>(including pre-AP & AP)</h3>
  <hr>
  <ul>
    <li>Physics</li>
    <li>Biology I & II</li>
    <li>Chemistry I & II</li>
    <li>Spanish I-III</li>
    <li>Geometry</li>
    <li>Algebra I & II</li>
    <li>Pre-Calculus</li>
    <li>Calculus</li>
    <li>Computer Science I</li>
  </ul>
</div>

<div class="subjects">
  <h3>Up to 8<sup>th</sup> grade:</h3>
  <hr>
  <ul>
    <li>Math</li>
    <li>Science</li>
    <li>Spanish</li>
  </ul>
</div>
