<h2>Testimonials</h2>
<hr>

<p>"I highly recommend Stephen as a tutor. My daughter was really struggling with an AP course, but with his help, she was able to raise her grade significantly! I could see how having been a Highland Park student, he could relate to her teacher's style. Thanks so much."</p>

<p></p>
<p></p>

<p></p>

<p></p>

<%= link_to "Back", current_user || root_url %>