/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

/*BORDER BOX-SIZING: */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

html, body {
  height: 100%;
}

body {
  background: #c7c0de;
}

#wrap {
  min-height: 100%;
}

#header {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  background-color: #3B2F63;
  background-image: radial-gradient(circle at 50% top, rgba(84,90,182,0.6) 0%, rgba(84,90,182,0) 75%),radial-gradient(circle at right top, #794aa2 0%, rgba(121,74,162,0) 57%);

}

#logo {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 614px;
  top: 80px;
  padding: 3px;
  border: 2px solid white;
  border-radius: 5px;
}

#title {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  color: white;
  font-weight: lighter;
  text-align: center;
  padding-top: 165px;
}

#subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  color: #c7c0de;
  text-align: center;
  padding-top: 10px;
}


#navbar ul {
  position: absolute;
  top: 0;
  left: 0;
  list-style-type: none;
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  display: block;
  text-decoration: none;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  color: #c7c0de;
}

#navbar a:hover {
  color: white;
}

#navbar a:selected {
  color: white;
}

#r-navbar ul {
  position: absolute;
  top: 0;
  right: 0;
  list-style-type: none;
}

#r-navbar li {
  display: inline-block;
}

#r-navbar li a {
  display: block;
  text-decoration: none;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  color: #c7c0de;
}

#r-navbar a:hover {
  color: white;
}

#r-navbar a:selected {
  color: white;
}

#content {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 1000px;
  margin: 0 auto;
  // took out -2em
  background-color: white;
  padding: 60px;
  padding-bottom: 120px;   // must be same height as footer
  overflow: auto;
  // margin-bottom: -100px;
}

#footer {
  position: relative;
  margin-top: -60px; // negative value of footer height
  height: 60px;
  clear: both;

  background-color: #3B2F63;
  background-image: radial-gradient(circle at 50% top, rgba(84,90,182,0.6) 0%, rgba(84,90,182,0) 75%),radial-gradient(circle at right top, #794aa2 0%, rgba(121,74,162,0) 57%);
}

#footer p {
  color: white;
  text-align: right;
}

#footer a {
  color: white;
  text-align: right;
}





ul, li, p, td {
  font-family: "Raleway", sans-serif;
  color: #4c4c4c;
  font-weight: lighter;
  font-size: 1em;
}

h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
  color: #4c4c4c;
  font-weight: lighter;
  /*font-size: 1.5em;*/
}

/*FLASH MESSAGES ***********/
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

hr {
    height: 1px;
    margin: 1em 0;
    border: 0;
    background: -webkit-linear-gradient(left, transparent, rgba(0,0,0,0.09) 10%, rgba(0,0,0,0.09) 90%, transparent);
}

// LOGIN/SIGNUP BUTTONS:

.register-wrap {
  height: 200px;
}
.register-buttons {
  z-index: 10;
  position: absolute;
  left: 321px;
  top: 200px;
  width: 400px;
  height: 400px;
}

.register-buttons a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  border: 3px solid #6e5baa;
  border-radius: 3px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  background: #6e5baa;
  color: white;
}

.register-buttons a:hover {
  // background: #3b2f63;
  // color: white;
  color: white;
  background: #3b2f63;
}

#login {
  margin-right: 30px;
}

// BOOK SESSION BUTTON (ON PROFILE PAGE):
#book h1 {
  position: absolute;
  top: 200px;
  right: 300px;
  border: 3px solid #3b2f63;
  border-radius: 3px;
  padding: 20px;
  width: 250px;
  text-align: center;
  background: #6e5baa;
  color: white;
}

#book h1:hover {
  color: white;
  background: #3b2f63;
}

// HOW IT WORKS PAGE:
#howitworks {
  margin: 0 auto;
  padding-top: 20px;
  width: 250px;
  text-align: center;
}

#howitworks ul {
  list-style-type: square;
}

#howitworks li {
  text-align: left;
}



// CONTACT ME PAGE:
#contact {
  text-align: center;
  padding-top: 20px;
}

// SUBJECTS PAGE:
.subjects {
  width: 500px;
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.subjects li {
    list-style-type: none;
}

// ABOUT ME PAGE:
#about {
  padding-top: 20px;
  text-align: left;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

#hp {
  height: 62px;
  width: 100px;
  float: right;
  margin-left: 10px;
  margin-top: 10px;
}

#uva {
  height: 120px;
  width: 120px;
  float: left;
  margin-right: 10px;
}

#portrait {
  float: left;
  margin-right: 30px;
}

#cc {
  float: right;
  z-index: 5;
  margin-top: 10px;
  margin-left: 10px;
}

/*FORMs: */
.form {
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
}

.form-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input, textarea, .form-control {
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Raleway", sans-serif;
  color: #4c4c4c;
  font-weight: lighter;
  cursor: auto;
  border-radius: 10px;
}

.button {
 font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Raleway", sans-serif;
  color: #4c4c4c;
  font-weight: lighter;
  cursor: auto;
  border-radius: 10px;
  border: 3px solid #6e5baa;
  text-decoration: none;
  padding: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
}

.button:hover {
  background: #3b2f63;
  color: white;
}

// #error_explanation {
//   color: red;
//   ul {
//     color: red;
//     margin: 0 0 30px 0;
//     list-style-type: none;
//   }
// }


.alert-alert-success {
  font-family: "Raleway", sans-serif;
  color: #4c4c4c;
  font-weight: lighter;
  font-size: 1.6em;
}

/*SIDEBAR for user profile page*/
.profile {
  position: relative;
  margin: 0 auto;
  text-align: left;
}

/*Users index: */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

// REVIEWS PAGE:
#reviews table {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 800px;
}

#reviews td {
  padding: 10px;
}

#reviews td.name {
  text-align: right;
}

.list_line_odd {
  background-color: #c7c0de;
}