/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

/*BORDER BOX-SIZING: */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


body {
  background: #c7c0de;
}

#content {
  /*text-align:center;*/
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  margin-bottom: -100px;
}

/*#content:after {
  content: "";
  display: block;
}*/

#header {
 /* text-align: left;*/
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-color: #3B2F63;
  background-image: radial-gradient(circle at 50% top, rgba(84,90,182,0.6) 0%, rgba(84,90,182,0) 75%),radial-gradient(circle at right top, #794aa2 0%, rgba(121,74,162,0) 57%);

}

#title {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  color: white;
  font-weight: lighter;
  text-align: center;
  padding-top: 110px;

}

#subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  color: #c7c0de;
  text-align: center;
  padding-top: 10px;

}
#navbar ul {
  position: absolute;
  top: 0;
  left: 0;
  list-style-type: none;
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  display: block;
  text-decoration: none;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  color: #c7c0de;
}

#navbar a:hover {
  color: white;
}

#navbar a:selected {
  color: white;
}

#r-navbar ul {
  position: absolute;
  top: 0;
  right: 0;
  list-style-type: none;
}

#r-navbar li {
  display: inline-block;
}

#r-navbar li a {
  display: block;
  text-decoration: none;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  color: #c7c0de;
}

#r-navbar a:hover {
  color: white;
}

#r-navbar a:selected {
  color: white;
}


ul, li, p {
  font-family: "Raleway", sans-serif;
  color: #4c4c4c;
  font-weight: lighter;
  font-size: 1em;
}

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  color: #4c4c4c;
  font-weight: lighter;
  /*font-size: 1.5em;*/
}

hr {
    height: 1px;
    margin: 1em 0;
    border: 0;
    background: -webkit-linear-gradient(left, transparent, rgba(0,0,0,0.09) 10%, rgba(0,0,0,0.09) 90%, transparent);
}

#home {
  position: absolute;
  top: 300px;
  left: 50px;
  width: 250px;
  text-align: center;
}

#home li {
  text-align: left;
}

#book h1 {
  color: #6e5baa;
  position: absolute;
  top: 225px;
  left: 650px;
  border: 1px solid #6e5baa;
  border-radius: 3px;
  padding: 20px;
  width: 250px;
  text-align: center;
}

#book:hover {
  background: #3b2f63;
}

/*#calendar {
  position: absolute;
  top: 300px;
  right: 25%;
  left: 25%;
}*/

#contact {
  text-align: center;
}

.subjects {
  width: 500px;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

#about {
  width: 500px;
  margin-left: auto;
  margin-right: auto;

}